diff --git a/feeder.html b/feeder.html
index 4444444..5555555 100644
--- a/feeder.html
+++ b/feeder.html
@@ -120,6 +120,7 @@
   <button onclick="save()">Add to Signals</button>
+  <button class="secondary" onclick="location.href='signals.html'">View Signals</button>
